<section class="about" fxLayout="row" fxLayoutAlign="center" fxFlexAlign="center">
  <div fxFlex.gt-sm="33" fxFlexFill>
    <mat-card class="card mat-elevation-z3">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Dominik Giroux</mat-card-title>
        <mat-card-subtitle>Evil Mastermind</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/dominik-giroux.jpg" alt="Photo of Dominik Giroux">
      <mat-card-content>
        <p>
          This awesome developper feeds on coffee and might one day rule over the world.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</section>
