<section class="footer mat-typography" fxLayout="column" fxLayoutAlign="center" fxFlexAlign="center">

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center" fxFlexAlign="center">

    <div>
      <img class="bedrock" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/bedrock.png?alt=media&token=8b76e1e1-c0d1-49d4-b01f-10ad191a0f82"
        alt="Bedrock" />
    </div>

    <div>
      <img class="bedrock" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/bedrock.png?alt=media&token=8b76e1e1-c0d1-49d4-b01f-10ad191a0f82"
        alt="Bedrock" />
    </div>

    <div>
      <img class="bedrock" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/bedrock.png?alt=media&token=8b76e1e1-c0d1-49d4-b01f-10ad191a0f82"
        alt="Bedrock" />
    </div>

  </div>

  <div fxFlex="100">
    <span>You've hit the bedrock. Find an issue on this page? Pull a fix on </span>
    <a class="primary" href="https://github.com/Dominik-Giroux/dominikgiroux.com" target="_blank" rel="noopener">
      <strong>Github</strong>
    </a>
    <hr class="dashed" />
  </div>

  <div fxFlex="100">
    <span>Created with </span>
    <img class="icon" alt="Angular" src="/assets/img/angular.png" />
    <span> & </span>
    <img class="icon" alt="Firebase" src="/assets/img/firebase.png" />
    <span>by </span>
    <strong class="primary">Dominik Giroux</strong>
  </div>

  <div fxFlex="100">
    <span>Copyright © {{year}}</span>
    <hr class="dashed" />
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center" fxFlexAlign="center">

    <a mat-button href="https://www.facebook.com/dominik.giroux" target="_blank" rel="noopener" aria-label="Facebook - Dominik Giroux">
      Facebook
    </a>
    <a mat-button href="https://www.linkedin.com/in/dominikgiroux/" target="_blank" rel="noopener" aria-label="Linkedin - Dominik Giroux">
      Linkedin
    </a>
    <a mat-button href="https://github.com/Dominik-Giroux" target="_blank" rel="noopener" aria-label="Github - Dominik Giroux">
      Github
    </a>

  </div>

</section>
