<section class="footer mat-typography" fxLayout="column" fxLayoutAlign="center" fxFlexAlign="center">

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center" fxFlexAlign="center">

    <div>
      <img class="bedrock" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/bedrock.png?alt=media&token=8b76e1e1-c0d1-49d4-b01f-10ad191a0f82"
        alt="Bedrock" />
    </div>

    <div>
      <img class="bedrock" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/bedrock.png?alt=media&token=8b76e1e1-c0d1-49d4-b01f-10ad191a0f82"
        alt="Bedrock" />
    </div>

    <div>
      <img class="bedrock" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/bedrock.png?alt=media&token=8b76e1e1-c0d1-49d4-b01f-10ad191a0f82"
        alt="Bedrock" />
    </div>

  </div>

  <div fxFlex="100">
    <span>You've hit the bedrock. Find an issue on this page? Pull a fix </span>
    <a class="primary" href="https://github.com/Dominik-Giroux/dominikgiroux.com" target="_blank">
      <strong>here</strong>
    </a>
    <hr class="dashed" />
  </div>

  <div fxFlex="100">
    <span>Created with </span>
    <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/angular.png?alt=media&token=455d10f9-2e05-464d-b3f0-0db8c264d19b"
      alt="Angular" />
    <span> & </span>
    <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/firebase.png?alt=media&token=a7442012-461f-451b-b28d-0f8697ebf5c1"
      alt="Firebase" />
    <span>by </span>
    <strong class="primary">Dominik Giroux</strong>
  </div>

  <div fxFlex="100">
    <span>Copyright © {{year}}</span>
    <hr class="dashed" />
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center" fxFlexAlign="center">

    <a mat-button href="https://www.facebook.com/dominik.giroux" target="_blank">
      <mat-icon aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </mat-icon>
    </a>
    <a mat-button href="https://www.linkedin.com/in/dominikgiroux/" target="_blank">
      <mat-icon aria-label="Linkedin">
        <i class="fab fa-linkedin-in"></i>
      </mat-icon>
    </a>
    <a mat-button href="https://github.com/Dominik-Giroux" target="_blank">
      <mat-icon aria-label="Github">
        <i class="fab fa-github"></i>
      </mat-icon>
    </a>

  </div>

</section>
