@import 'src/assets/scss/_custom.scss';

.footer {
  padding: $default-padding;
  background: $accent;
  color: $light;
  text-align: center;

  .dashed {
    border: none;
    border-top: 2px dashed;
    color: rgba(255, 255, 255, 0.3);
    max-width: 300px;
    padding-bottom: $default-padding / 4;
  }

  .bedrock {
    max-width: 21px;
    height: auto;
    margin-left: $default-margin / 4;
    margin-right: $default-margin / 4;
    margin-bottom: $default-margin / 4;
  }

  .icon {
    max-width: 21px;
  }

  .primary {
    color: $primary;
    text-decoration: none;
  }

}
