<section class="services" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center" fxFlexAlign="center">


  <div fxFlex="100" fxFlex.gt-sm="33">
    <mat-card class="card mat-elevation-z3">
      <img mat-card-image src="assets/img/1.jpg" alt="Photo of Dominik Giroux">
      <mat-card-content>
        <h1>Angular Universal SSR with Firebase</h1>
        <p>
          A comprehensive guide to server-side rendering with Angular Universal and Firebase
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip>#angular</mat-chip>
          <mat-chip>#firebase</mat-chip>
          <mat-chip color="primary">#cloud-functions</mat-chip>
          <mat-chip color="accent">#node</mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="33">
    <mat-card class="card mat-elevation-z3">
      <img mat-card-image src="assets/img/2.jpg" alt="Photo of Dominik Giroux">
      <mat-card-content>
        <h1>Google OAuth with @angular/fire</h1>
        <p>
          Build a Firebase Google signin user authentication flow with @angular/fire that saves custom user data to the
          Firestore.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip>#angular</mat-chip>
          <mat-chip>#firebase</mat-chip>
          <mat-chip color="primary">#firestore</mat-chip>
          <mat-chip color="accent">#auth</mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="33">
    <mat-card class="card mat-elevation-z3">
      <img mat-card-image src="assets/img/3.jpg" alt="Photo of Dominik Giroux">
      <mat-card-content>
        <h1>Flutter Firebase Google SignIn + Firestore</h1>
        <p>
          Learn how to Setup GoogleSign and Firestore with Flutter from Scratch
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip>#flutter</mat-chip>
          <mat-chip>#firebase</mat-chip>
          <mat-chip color="primary">#firestore</mat-chip>
          <mat-chip color="accent">#auth</mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </div>

</section>
