@import 'src/assets/scss/custom';

.home {

  background:
    linear-gradient(0deg,
    rgba(44, 51, 64, 0.5),
    rgba(44, 51, 64, 0.5)),
    url('https://firebasestorage.googleapis.com/v0/b/dominikgiroux-7.appspot.com/o/home.jpg?alt=media&token=542de9b1-9659-43ee-aaaa-37060f1095e1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: calc(100vh - #{$navbar-height});
  padding: $default-padding / 2;

  &:before {
    background-color: rgba(44, 51, 64, 0.8);
  }

  // div {
  //   border: 1px solid black;
  //   background: #fff;
  //   padding: 24px;
  //   margin-top: $navbar-height;
  // }

  @include breakpoint(gt-sm) {
    padding: $default-padding;
  }

  .home-margin {
    margin-top: $navbar-height;
  }

  .card {
    border-radius: 0;

    .img-container {
      padding: $default-padding;
    }

    .content-container {
      padding: $default-padding;

      h1 {
        margin-top: $default-margin;
        margin-bottom: 0;
        font-size: 36px;
        color: $dark;

        span {
          font-weight: 300;
        }

      }

      mat-chip {
        color: $light;
        border-radius: 0;
      }

      h3 {
        margin-top: 0;
      }

      hr {
        margin-top: $default-margin;
        margin-bottom: $default-margin;
      }

    }

    .footer-icons {
      color: $light;

      mat-button {
        flex: 1 1 auto;
        text-align: center;
      }

    }

  }
}
