@import 'src/assets/scss/custom';

.home {

  background:
    linear-gradient(0deg,
    rgba(44, 51, 64, 0.5),
    rgba(44, 51, 64, 0.5)),
    url('/assets/img/home.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - #{$navbar-height});
  padding: $default-padding / 2;

  &:before {
    background-color: rgba(44, 51, 64, 0.8);
  }

  @include breakpoint(gt-sm) {
    padding: $default-padding;
  }

  .home-margin {
    margin-top: $navbar-height;
  }

  .card {
    border-radius: 0;

    .img-container {
      padding: $default-padding;
    }

    .content-container {
      padding: $default-padding;

      h1 {
        margin-top: $default-margin;
        margin-bottom: 0;
        font-size: 36px;
        color: $dark;

        span {
          font-weight: 300;
        }

      }

      mat-chip {
        color: $light;
        border-radius: 0;
      }

      h3 {
        margin-top: 0;
      }

      hr {
        margin-top: $default-margin;
        margin-bottom: $default-margin;
      }

    }

    .footer-icons {
      color: $dark;

      mat-button {
        flex: 1 1 auto;
        text-align: center;
      }

    }

  }
}
