@import 'src/assets/scss/_custom.scss';

.navbar {

  position: fixed;
  z-index: 2;
  color: $dark;
  background: $light;
  transition: $transition;

  @include breakpoint(gt-md) {
    padding-left: $default-padding * 8;
    padding-right: $default-padding * 8;
  }

  &.navbar-transparent {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);

    h1 {
      color: rgba(255, 255, 255, 0.7);
    }

  }

  h1 {
    text-transform: uppercase;
    color: $dark;
  }

  .logo-icon {
    height: 40px;
    margin: 0 4px 3px 0;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

}
